@import "../../sass/mixin";
@import "../../sass/reset";
@import "../../sass/variable";

.development {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .development__choices{
        display: flex;
        justify-content: space-between;
        .development__choice {
            padding: 5em;
            border-radius: 1em;
            font-size: 800;
            font-weight: bold;
            background-color: $primary-blue;
            color: $primary-white;
        }
        .development__choice:hover {
            cursor: pointer;
            background-color: $primary-grey;
            color: $primary-blue;
        }
    }
}