@import "../../sass/mixin";
@import "../../sass/reset";
@import "../../sass/variable";

.header{
    height: 5rem;
    width: 100%;
    background-color: $primary-blue;
    display: flex;  
    align-items: center;
    .heading{ 
        color: $primary-white;
        width: 90%;
        margin: auto;
        font-size: larger;
    }
    .heading:hover {
        cursor: pointer;
    }
}